.search-box--2I2a {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 45px
}

.search-box__bar--29h6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px
}

.search-box__input--O34g {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 13px 19px;
    font-family: Roboto-Regular,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    color: #212121;
    border: none;
    outline: none;
    background: #e8f6ff;
    box-shadow: none;
    border-radius: 2px
}

.search-box__input--O34g::-webkit-input-placeholder {
    color: #9e9e9e
}

.search-box__search--2fC5 {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    line-height: 1
}

.search-box__button--1oH7 {
    display: block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    border: none;
    border-radius: 0 2px 2px 0;
    outline: none;
    background: #950808 url("data:image/svg+xml;charset=utf-8,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M695.467 622.933h-38.4l-12.8-12.8c46.933-55.466 76.8-128 76.8-204.8 0-174.933-140.8-315.733-315.734-315.733s-320 136.533-320 311.467S226.133 716.8 401.067 716.8c76.8 0 149.333-29.867 204.8-76.8l12.8 12.8v38.4l243.2 243.2 72.533-72.533-238.933-238.934zm-294.4 0c-119.467 0-217.6-98.133-217.6-217.6s98.133-217.6 217.6-217.6 217.6 98.134 217.6 217.6c4.266 119.467-93.867 217.6-217.6 217.6z' fill='%23FFF'/%3E%3C/svg%3E") 50% no-repeat;url(
    data:image/svg+xml;charset=utf-8,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M695.467 622.933h-38.4l-12.8-12.8c46.933-55.466 76.8-128 76.8-204.8 0-174.933-140.8-315.733-315.734-315.733s-320 136.533-320 311.467S226.133 716.8 401.067 716.8c76.8 0 149.333-29.867 204.8-76.8l12.8 12.8v38.4l243.2 243.2 72.533-72.533-238.933-238.934zm-294.4 0c-119.467 0-217.6-98.133-217.6-217.6s98.133-217.6 217.6-217.6 217.6 98.134 217.6 217.6c4.266 119.467-93.867 217.6-217.6 217.6z' fill='%23FFF'/%3E%3C/svg%3E) 50% no-repeat;url(
    data:image/svg+xml;charset=utf-8,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M695.467 622.933h-38.4l-12.8-12.8c46.933-55.466 76.8-128 76.8-204.8 0-174.933-140.8-315.733-315.734-315.733s-320 136.533-320 311.467S226.133 716.8 401.067 716.8c76.8 0 149.333-29.867 204.8-76.8l12.8 12.8v38.4l243.2 243.2 72.533-72.533-238.933-238.934zm-294.4 0c-119.467 0-217.6-98.133-217.6-217.6s98.133-217.6 217.6-217.6 217.6 98.134 217.6 217.6c4.266 119.467-93.867 217.6-217.6 217.6z' fill='%23FFF'/%3E%3C/svg%3E) 50% no-repeat;url(
    data:image/svg+xml;charset=utf-8,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cdefs%3E%3Cstyle/%3E%3C/defs%3E%3Cpath d='M695.467 622.933h-38.4l-12.8-12.8c46.933-55.466 76.8-128 76.8-204.8 0-174.933-140.8-315.733-315.734-315.733s-320 136.533-320 311.467S226.133 716.8 401.067 716.8c76.8 0 149.333-29.867 204.8-76.8l12.8 12.8v38.4l243.2 243.2 72.533-72.533-238.933-238.934zm-294.4 0c-119.467 0-217.6-98.133-217.6-217.6s98.133-217.6 217.6-217.6 217.6 98.134 217.6 217.6c4.266 119.467-93.867 217.6-217.6 217.6z' fill='%23FFF'/%3E%3C/svg%3E) 50% no-repeat;
    background-size: 22px;
    box-shadow: none;
    cursor: pointer
}

.layout-search-box--qK-K {
    position: absolute;
    width: 688px
}

@font-face {
    font-family: NextIcon;
    src: url("//laz-g-cdn.alicdn.com/lzd/assets/0.0.7/dpl-buyeruikit/2.0.1/font_482437_i9tqljab236p3nmi.eot");
    src: url("//laz-g-cdn.alicdn.com/lzd/assets/0.0.7/dpl-buyeruikit/2.0.1/font_482437_i9tqljab236p3nmi.eot?#iefix") format("embedded-opentype"),url("//laz-g-cdn.alicdn.com/lzd/assets/0.0.7/dpl-buyeruikit/2.0.1/font_482437_i9tqljab236p3nmi.woff") format("woff"),url("//laz-g-cdn.alicdn.com/lzd/assets/0.0.7/dpl-buyeruikit/2.0.1/font_482437_i9tqljab236p3nmi.ttf") format("truetype"),url("//laz-g-cdn.alicdn.com/lzd/assets/0.0.7/dpl-buyeruikit/2.0.1/font_482437_i9tqljab236p3nmi.svg#articonsvg") format("svg")
}

.next-icon {
    position: relative;
    display: inline-block;
    font-family: NextIcon;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .1px;
    -moz-osx-font-smoothing: grayscale
}

.next-icon:before {
    display: inline-block;
    speak: none;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center
}


.next-icon-medium:before {
    width: 20px;
    font-size: 20px;
    line-height: inherit
}


.next-icon-add:before {
    content: "\E66F"
}

.next-icon-minus:before {
    content: "\E670"
}

.next-input {
    display: inline-table;
    border-collapse: separate;
    overflow: visible;
    border: 1px solid #eff0f5;
    width: 200px;
    border-spacing: 0;
    background-color: #e8f6ff;
    transition: all .3s ease-out
}

.next-input,.next-input *,.next-input :after,.next-input :before {
    box-sizing: border-box
}

.next-input input {
    height: 100%
}

.next-input input,.next-input textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    font-weight: 400;
    vertical-align: baseline;
    background-color: transparent
}


.next-input.next-input-single {
    border-color: #dadada
}

.next-input.next-input-single input {
    color: #212121
}

.next-input-medium {
    border-radius: 0
}

.next-input-medium input {
    height: 38px;
    line-height: 38px \0;
    margin: 0;
    padding: 0 8px;
    font-size: 14px
}

.next-input-medium input {
    border-radius: 0
}

.next-number-picker {
    color: #212121;
	background: #e8f6ff;
    font-family: Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,Sans-serif;
    font-size: 14px;
    line-height: 1.28571;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle
}

.next-number-picker,.next-number-picker *,.next-number-picker :after,.next-number-picker :before {
    box-sizing: border-box
}

.next-number-picker:after {
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    content: " ";
    clear: both
}

.next-number-picker-input-wrap {
    overflow: hidden;
    float: left
}

.next-number-picker-input-wrap .next-number-picker-input input {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center
}

.next-number-picker-handler-wrap {
    float: right;
    margin-left: 2px;
    position: relative;
    transition: all .2s
}

.next-number-picker-handler-wrap .next-number-picker-handler {
    text-align: center;
    cursor: pointer;
    line-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: all .2s;
    display: block;
    border: 4px solid transparent;
    color: #ffffff;
    background-color: #001c37;
}

.next-number-picker-handler-wrap .next-number-picker-handler-down-disabled,.next-number-picker-handler-wrap .next-number-picker-handler-down-disabled:hover,.next-number-picker-handler-wrap .next-number-picker-handler-up-disabled,.next-number-picker-handler-wrap .next-number-picker-handler-up-disabled:hover {
    color: #ffffff;
    background-color: #fafafa;
    border-color: transparent;
    cursor: default
}

.next-number-picker-handler-wrap .next-number-picker-handler-up {
    margin-bottom: 2px
}

.next-number-picker-handler-down-inner,.next-number-picker-handler-up-inner {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: block;
    transition: line-height .2s;
    line-height: 11px
}

.next-number-picker-inline .next-number-picker-handler-wrap,.next-number-picker-inline .next-number-picker-input-wrap {
    position: relative;
    float: left
}

.next-number-picker-inline .next-number-picker-handler-wrap {
    width: 108px;
    margin-left: 0
}

.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler {
    width: 32px;
    height: 32px;
    border-radius: 0;
    margin: 0
}

.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler-down-inner,.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler-up-inner {
    line-height: 24px
}

.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler-up {
    float: right
}

.next-number-picker-inline .next-number-picker-handler-wrap .next-number-picker-handler .next-icon:before {
    width: 12px;
    font-size: 12px;
    line-height: inherit
}

.next-number-picker-inline .next-number-picker-input-wrap {
    margin-left: -76px
}

.next-number-picker-inline .next-number-picker-input {
    width: 44px
}

.next-number-picker-inline .next-number-picker-input input {
    line-height: 22px;
    height: 30px
}

button,hr,input {
    overflow: visible
}

.site-nav,sub,sup {
    position: relative
}

html {
    line-height: 1.15;
    background: #e8f6ff;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

b,strong {
    font-weight: bolder
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    line-height: 1.15;
    font-size: 100%;
    margin: 0
}

.lzd-header,body {
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif
}

body {
    margin: 0
}

.site-nav {
    min-width: 1188px;
    background-color: #e8f6ff;
    -webkit-filter: "progid\:DXImageTransform\.Microsoft\.gradient(startColorstr\='#003e52', endColorstr\='#1a9cb7',GradientType\=1)";
    filter: "progid\:DXImageTransform\.Microsoft\.gradient(startColorstr\='#003e52', endColorstr\='#1a9cb7',GradientType\=1)"
}

.site-nav * {
    box-sizing: content-box
}

.lzd-header {
    height: 100px
}

.lzd-header .lzd-logo-bar {
    height: 75px
}

.lzd-header {
    width: 100%;
    height: 140px
}

.lzd-header .lzd-header-content-wrap {
    background-color: #001c37;
    filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#003e52', endColorstr='#1a9cb7', GradientType=1)";
    width: 100%;
    position: fixed;
    z-index: 300
}

.lzd-header .header-content {
    width: 1188px;
    min-width: 1188px;
    margin: 0 auto
}

.lzd-header .lzd-links-bar {
    position: relative;
    background: #001c37;
    min-width: 1006px;
    height: 25px;
    text-align: left;
    -webkit-transition: height .25s linear,zIndex 0s linear .25s;
    transition: height .25s linear,zIndex 0s linear .25s;
    z-index: 310
}

.lzd-header .lzd-links-bar .top-links-item {
    position: relative;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    color: #ffffff;
    -webkit-transition: color .2s;
    transition: color .2s;
    padding: 0 17px
}

.lzd-header .lzd-links-bar .top-links-item:last-child {
    padding-right: 0
}

.lzd-header .lzd-links-bar .top-links-item .cyan,.lzd-header .lzd-links-bar .top-links-item.cyan {
    color: #ffffff;
}

.lzd-header .lzd-links-bar .top-links-item>a {
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s
}

.lzd-header .lzd-links-bar .top-links-item-hidden {
    display: none
}

.lzd-header .lzd-logo-bar {
    box-sizing: border-box;
    padding-top: 11px
}

.lzd-header .lzd-logo-bar .logo-bar-content {
    position: relative
}

.lzd-header .lzd-logo-bar .logo-bar-content .lzd-logo-content {
    display: inline-block;
    width: 150px;
    height: 45px;
}

.lzd-header .lzd-logo-bar .logo-bar-content .lzd-logo-content a {
    float: left;
    margin-top: -8px;
}

.lzd-header .lzd-logo-bar .logo-bar-content .lzd-logo-content img {
    width: 125px;
    height: 45.6px;
	margin-left: 8px;
}

.lzd-header .lzd-nav-search {
    width: 688px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    border-radius: 3px
}

.lzd-header .lzd-nav-search *,.lzd-header .lzd-nav-search label span span:after {
    box-sizing: border-box
}

.lzd-header .mui-zebra-module {
    position: relative;
}

.lzd-header .mui-zebra-module .lzd-site-nav-menu-active {
    top: auto!important;
    background: #e8f6ff;
    -webkit-transition: height .25s;
    transition: height .25s
}

.lzd-site-nav-menu {
    position: relative;
    background: #fff;
    top: 0;
    z-index: 210;
    width: 100%;
    height: 0
}

.lzd-site-nav-menu .lzd-site-menu-nav-category .lzd-site-menu-nav-menu {
    visibility: hidden
}

.lzd-site-nav-menu .lzd-site-menu-nav-category .lzd-site-menu-nav-menu .lzd-site-nav-menu-dropdown {
    visibility: inherit;
    padding: 0!important
}

.lzd-site-nav-menu .lzd-site-menu-nav-container {
    width: 1188px;
    height: 100%;
    margin: 0 auto;
    position: relative
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-site-menu-nav-category {
    width: 150px;
    line-height: 40px;
    float: left;
    z-index: 210;
    height: 100%
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-site-menu-nav-category .lzd-site-menu-nav-category-text {
    opacity: .85;
    /* font-family: Roboto-Medium; */
    margin-left: 20px;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 40px
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-site-menu-nav-category .lzd-site-menu-nav-category-text::after,.lzd-site-nav-menu-iconfont {
    font-family: lazada!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-site-menu-nav-category .lzd-site-menu-nav-category-text::after {
    content: '\e736';
    margin-left: 12px;
    font-size: 16px
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-menu-labels {
    list-style: none;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-menu-labels .lzd-menu-labels-item {
    margin-left: 10px;
    padding-right: 10px;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    text-decoration: none
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-menu-labels .lzd-menu-labels-item .lzd-menu-labels-item-icon {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    font-size: 40px;
    color: #fff;
    position: relative;
    width: 21px;
    height: 21px
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-menu-labels .lzd-menu-labels-item .lzd-menu-labels-item-icon .lzd-site-nav-menu-iconfont-img {
    width: 21px;
    height: 21px;
    display: inline-block;
    position: absolute
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-menu-labels .lzd-menu-labels-item .lzd-menu-labels-item-icon:before {
    content: ' '!important
}

.lzd-site-nav-menu .lzd-site-menu-nav-container .lzd-menu-labels .lzd-menu-labels-item .lzd-menu-labels-item-text {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
    font-size: 14px;
    color: #212121;
}

.lzd-site-nav-menu-active {
    position: fixed;
    height: 40px;
    z-index: 220
}

.lzd-site-nav-menu-iconfont {
    font-size: 16px
}

@font-face {
    font-family: lazada;
    src: url(//laz-g-cdn.alicdn.com/lzdfe/static/0.0.37/iconfont-hp.eot);
    src: url(//laz-g-cdn.alicdn.com/lzdfe/static/0.0.37/iconfont-hp.eot?#iefix) format("embedded-opentype"),url(//laz-g-cdn.alicdn.com/lzdfe/static/0.0.37/iconfont-hp.woff) format("woff"),url(//laz-g-cdn.alicdn.com/lzdfe/static/0.0.37/iconfont-hp.ttf) format("truetype")
}

.desktop-footer {
    font-size: 12px;
    font-weight: 200;
    padding: 0;
    min-width: 1188px;
    width: 100%;
    position: absolute;
    left: 0
}

.fixed-footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background: linear-gradient(to bottom, #00182f 0%, #001325 50%, #000c17 100%);
    padding: 10px 0;
    box-shadow: 0 0 8px 4px #01162a;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99
}

.fixed-footer a {
    flex-basis: calc((100% - 10px*6)/ 5);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 75px;
    font-size: 12px;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.fixed-footer a:hover {
    font-weight: bold;
}

.fixed-footer .center {
    transform: scale(1.5) translateY(-5px);
    background: center no-repeat;
    background-size: contain;
    background-color: inherit;
    border-radius: 50%;
}

.fixed-footer img {
    max-width: 20px;
    margin-bottom: 5px;
    max-height: 20px;
}

.breadcrumb_list {
	width: 1188px;
	height: 48px;
	background: #e8f6ff;
	border-bottom: 1px solid #EFF0F5;
	margin: -15px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.breadcrumb_list .breadcrumb {
	padding-left: 0;
	margin-left: -4px;
	height: 48px;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
}
.add-to-cart-buy-now-btn {
width: 162px;
margin-right: -7px;
margin-left: 10px;
}
.pdp-button_theme_yellow {
background: #055589;
}
.pdp-button_theme_orange {
background: #cd2929;
}

article,aside,footer,header,nav,section {
    display: block
}

.pdp-product-detail .pdp-product-desc article.lzd-article span {
    white-space: break-spaces
}

.text-change-container {
	width: 100%;
	justify-content: left;
	align-items: left;
	display: flex;
	margin-left: 5px;
}